<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
         <tr>
            <td>姓名</td>
            <td>性别</td>
            <td>邮箱</td>
        </tr>
    </thead>
    <tbody>
        {% for i in info_list %}
            <tr>
                <td>{{ i.username }}</td>
                <td>{{ i.sex }}</td>
                <td>{{ i.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>